.encabezado {
  font-size: 40px;
  text-align: center;
  background-color: cornflowerblue;
  opacity: 0.6; }

.wrapper {
  background: #262626;
  height: 650px; }

.coming {
  text-align: center;
  padding-top: 120px; }
  .coming h2 {
    color: #f15c58;
    font-size: 10vw;
    font-weight: bolder;
    font-family: "Raleway", sans-serif; }
  .coming p {
    color: #8f8686;
    font-size: 27px;
    font-weight: 400;
    font-family: "Raleway", sans-serif; }

.countdown .back-text h4 {
  color: red;
  background: red; }

.fondo {
  background-color: black; }

.fondo_logo {
  background-color: midnightblue; }

.encuadrar {
  border: 3px solid grey;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #0048cd;
  border-radius: 15px;
  width: 400px; }

.fondo_logo {
  background-color: midnightblue; }

.titulo {
  text-align: center;
  margin-top: 10px;
  width: 100%;
  color: white; }

.titulo_pagina {
  font-size: 50px;
  color: black;
  margin-bottom: 0; }

.sub_titulo_pagina {
  text-align: center;
  font-size: 40px;
  color: white; }

.sub_titulo {
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  color: white; }

.login {
  margin-top: 0; }
  .login input {
    display: block;
    margin-top: 15px;
    width: 270px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }

.usuario {
  width: 100%;
  display: inline-flex;
  justify-content: center; }
  .usuario input {
    margin: 0; }

.contrasena {
  width: 100%;
  display: inline-flex;
  justify-content: center; }
  .contrasena input {
    margin: 0; }

.enviar {
  width: 270px;
  height: 40px;
  margin-left: 60px;
  border-radius: 15px;
  background-color: indigo;
  color: white; }

.restablecer {
  width: 270px;
  height: 40px;
  margin-left: 60px;
  border-radius: 15px;
  background-color: indigo;
  color: white; }

#registrarse {
  width: 400px;
  height: 30px;
  margin-top: 50px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #0894be;
  text-align: center;
  text-decoration: none;
  margin-top: 20px; }

.img_logo {
  text-align: center;
  height: 250px;
  width: 100%; }

.img_login {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.fondo_general {
  background-image: url(../recursos/imagenes/congreso2-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif; }

.cuerpo_principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.menu_principal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 100%; }

.margen_izquierdo {
  margin-left: 100px; }

.alto {
  height: 100px; }

.texto_general {
  margin-top: 30px;
  padding: 10px;
  font-style: italic;
  text-align: justify;
  background: #c9c5df;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 470px;
  overflow: auto;
  box-shadow: 5px 5px black;
  border-top-left-radius: 8px; }

.cuerpo_registro {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: rgba(128, 50, 50, 0.5); }
  .cuerpo_registro input {
    font-style: italic; }

.negrita {
  font-weight: bold; }

.margen_superior {
  margin-top: 160px; }

.margen_superior_ayuda {
  margin-top: 90px; }

.margen_superior_construccion {
  margin-top: 60px; }

.twiter {
  background-color: #14e4ff; }

.facebook {
  background-color: #353cb8; }

.in {
  background-color: #5e75f8; }

.mail {
  background-color: #bac0cf; }

.whatsapp {
  background-color: #21f579; }

.logo_pie {
  display: inline-block; }

/*************** CELULARES ************************/
@media (max-width: 950px) {
  /***************RESPONSIVE LOGIN****************/
  .encuadrar {
    width: 50% !important; }
  .img_logo {
    height: 200px;
    margin-bottom: 10px; }
  .img_login {
    width: 180px;
    height: 180px; }
  .sub_titulo {
    margin-top: 10px !important; }
  .enviar {
    width: 70% !important;
    margin: auto; }
  .restablecer {
    width: 70% !important;
    margin: auto; }
  #registrarse {
    width: 100%; }
  /***************************************************/
  .margen_fichas_celular {
    margin-bottom: 300px; }
  .margen_superior_celular {
    margin-top: 60px !important; }
  /*****************GRILLA MAPA DEL SITIO********************/
  #grilla_organigrama_celular {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30px 100px 100px 220px 20px;
    grid-template-areas: "nivel1_celular   nivel1_celular   nivel1_celular   nivel1_celular   nivel1_celular" "nivel2a_celular  nivel2a_celular  nivel2a_celular  nivel2a_celular  nivel2b_celular" "nivel3a_celular  nivel3b_celular  nivel3c_celular  nivel3d_celular  nivel3e_celular" "nivel4a_celular  nivel4b_celular  nivel4c_celular  nivel4d_celular  nivel4e_celular" "nivel5a_celular  nivel5b_celular  nivel5b_celular  nivel5b_celular  nivel5c_celular";
    font-weight: bold;
    width: 100vw; }
    #grilla_organigrama_celular article.nivel1_celular {
      grid-area: nivel1_celular;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(63, 153, 238, 0.5);
      margin: 0;
      padding-top: 2px;
      font-size: 1em;
      border-bottom: 4px solid black; }
    #grilla_organigrama_celular div {
      height: 100%;
      text-align: center;
      margin: 0;
      border: 3px solid grey;
      background-color: rgba(145, 50, 39, 0.7); }
      #grilla_organigrama_celular div p {
        letter-spacing: 2px;
        padding-top: 20px; }
    #grilla_organigrama_celular .nivel2a_celular {
      grid-area: nivel2a_celular;
      font-size: 2em; }
    #grilla_organigrama_celular .nivel2b_celular {
      grid-area: nivel2b_celular;
      font-size: 1em; }
      #grilla_organigrama_celular .nivel2b_celular p {
        padding-top: 35px; }
    #grilla_organigrama_celular .nivel3a_celular {
      grid-area: nivel3a_celular;
      font-size: 0.8em; }
      #grilla_organigrama_celular .nivel3a_celular p {
        padding-top: 30px; }
    #grilla_organigrama_celular .nivel3b_celular {
      grid-area: nivel3b_celular;
      font-size: 0.8em; }
      #grilla_organigrama_celular .nivel3b_celular p {
        padding-top: 30px; }
    #grilla_organigrama_celular .nivel3c_celular {
      grid-area: nivel3c_celular;
      font-size: 0.8em; }
      #grilla_organigrama_celular .nivel3c_celular p {
        padding-top: 30px; }
    #grilla_organigrama_celular .nivel3d_celular {
      grid-area: nivel3d_celular;
      font-size: 0.8em; }
      #grilla_organigrama_celular .nivel3d_celular p {
        padding-top: 30px; }
    #grilla_organigrama_celular .nivel3e_celular {
      grid-area: nivel3e_celular;
      font-size: 0.8em; }
      #grilla_organigrama_celular .nivel3e_celular p {
        padding-top: 30px; }
    #grilla_organigrama_celular a {
      text-decoration: none;
      color: white; }
    #grilla_organigrama_celular div:hover {
      background-color: sienna;
      border: 3px solid black;
      color: black;
      font-style: italic; }
    #grilla_organigrama_celular section {
      height: 100%;
      background-color: rgba(63, 153, 238, 0.9);
      text-align: center;
      margin: 0px;
      padding-top: 30px;
      font-size: 0.8em;
      border-right: 1px solid yellow; }
    #grilla_organigrama_celular section.nivel4a_celular {
      grid-area: nivel4a_celular; }
    #grilla_organigrama_celular section.nivel4b_celular {
      grid-area: nivel4b_celular; }
    #grilla_organigrama_celular section.nivel4c_celular {
      grid-area: nivel4c_celular;
      height: 100%; }
    #grilla_organigrama_celular section.nivel4d_celular {
      grid-area: nivel4d_celular; }
    #grilla_organigrama_celular section.nivel4e_celular {
      grid-area: nivel4e_celular; }
    #grilla_organigrama_celular aside.nivel5a_celular {
      grid-area: nivel5a_celular;
      background-color: rgba(63, 153, 238, 0.9); }
    #grilla_organigrama_celular aside.nivel5b_celular {
      grid-area: nivel5b_celular;
      text-align: center;
      background-color: grey;
      border: 1px solid black; }
    #grilla_organigrama_celular aside.nivel5c_celular {
      grid-area: nivel5c_celular;
      background-color: rgba(63, 153, 238, 0.9); }
  /**************************************************/
  .mostrar_mapa_desk {
    display: none; }
  .principal_celular {
    margin: auto; }
  .margen_izquierdo_celular {
    margin-left: 50px; }
  .grilla_engranaje_desk {
    display: none; }
  .grilla_engranaje_celular {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 450px;
    grid-template-rows: 100px;
    grid-template-areas: "engranaje_izquierda       engranaje_centro       engranaje_derecho";
    margin-bottom: 50px;
    justify-items: flex-end;
    margin: auto; }
  .separacion {
    margin-top: 20px; }
  .sub_titulo {
    text-align: center;
    font-size: 20px;
    margin-top: 30px; }
  .titulo {
    text-align: center;
    font-size: 20px;
    margin-top: 10px; }
  .ocultar_grilla {
    display: none; }
  .ocultar_estructura {
    display: none; }
  /***********ESTRUCTURA JERARQUICA  PARA CELULARES *************/
  .nivel1_estructura {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .nivel2_estructura {
    margin-bottom: 40px; }
  .card_celu {
    width: 200px;
    margin-left: auto;
    margin-right: auto; }
  .mostrar_estructura a {
    text-decoration: none;
    color: grey; }
  .mostrar_estructura a:hover {
    color: black; }
  .mostrar_estructura h2 {
    font-size: 2em;
    text-align: center; }
  .boton_subdireccion {
    background-color: #99b5e9;
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 5px; }
  .boton_departamento {
    width: 200px;
    height: 70px;
    background-color: #61c3ca;
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 5px; }
  /*************************************************************/
  /*********************GENERAL********************************/
  .margen_superior_pie_mapa {
    margin-top: 100px !important; }
  .principal_desk {
    display: none; } }

/*************************DESKTOP ************************/
/*********************************************************/
@media (min-width: 951px) {
  .mostrar_mapa_celular {
    display: none; }
  .margen_superior_pie_mapa {
    margin-top: 180px !important; }
  .grilla_engranaje_celular {
    display: none; }
  .cuerpo_principal_desk {
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto; }
  .grilla_engranaje_desk {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
    grid-template-areas: "engranaje_izquierda       engranaje_centro       engranaje_derecho";
    margin-top: 450px;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 100%;
    margin-left: 260px; }
  .card_desk {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; }
  /***************GRILLA ESTRUCTURA************************/
  #grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 150px 100px 100px 80px;
    grid-template-areas: "titulo_grilla       titulo_grilla       titulo_grilla       titulo_grilla" "subdireccion        subdireccion        subdireccion        subdireccion" "depto_hard          depto_soft          depto_adm           sop_ext" "emp_hard            emp_soft            emp_adm             sop_ext" "pie_grilla          pie_grilla          pie_grilla          pie_grilla";
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 3px;
    width: 900px;
    height: 100%;
    font-style: italic; }
    #grid a {
      text-decoration: none;
      color: #4b4848; }
    #grid a:hover {
      color: black; }
    #grid .tit_sop_ext {
      margin-top: 60px;
      text-align: center; }
    #grid .fuentes_areas p {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 20px; }
    #grid .tit_subdireccion p {
      margin-left: 210px;
      margin-right: 210px; }
    #grid section#titulo_grilla {
      background-color: #494c55;
      grid-area: titulo_grilla;
      text-align: center;
      padding: 15px;
      color: white;
      font-size: 50px;
      font-style: italic;
      border: 1px solid white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    #grid section#subdireccion {
      background-color: #9ea79d;
      grid-area: subdireccion;
      padding: 3%;
      text-align: center;
      font-size: 30px;
      border: 1px solid white;
      padding-top: 30px; }
    #grid section#subdireccion:hover {
      background-color: #778376; }
    #grid section#sop_ext {
      background-color: #8da08b;
      grid-area: sop_ext;
      border: 1px solid white; }
    #grid .departamento:hover {
      background-color: #778376; }
    #grid section#hard {
      grid-area: depto_soft; }
    #grid section#depto_soft {
      grid-area: depto_soft; }
    #grid section#depto_adm {
      grid-area: depto_adm; }
    #grid article#emp_hard {
      background-color: #a8b3a7;
      grid-area: emp_hard;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white; }
    #grid article#emp_soft {
      background-color: #a8b3a7;
      grid-area: emp_soft;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white; }
    #grid article#emp_adm {
      background-color: #a8b3a7;
      grid-area: emp_adm;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white; }
    #grid section#pie_grilla {
      padding-top: 20px;
      background-color: grey;
      grid-area: pie_grilla;
      border: 1px solid white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
    #grid .departamento {
      background-color: #a8b3a7;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white; }
    #grid .logo_derecha {
      margin-left: 700px; }
    #grid .logo_izquierda {
      margin-left: 30px; }
  .mostrar_estructura {
    display: none; }
  .principal_celular {
    display: none; }
  /*******************GRILLA MAPA DEL SITIO************************/
  #grilla_organigrama {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas: "nivel1   nivel1   nivel1   nivel1   nivel1" "nivel2a  nivel2a  nivel2a  nivel2b  nivel2b" "nivel3a  nivel3b  nivel3c  nivel3d  nivel3e" "nivel4a1 nivel4b1 nivel4c1 nivel4d1 nivel4d1";
    justify-items: center;
    font-weight: bold; }
    #grilla_organigrama article#nivel1 {
      grid-area: nivel1;
      width: 400px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #b47fb4;
      border-radius: 10px;
      margin-top: 10px; }
    #grilla_organigrama #nivel2a {
      grid-area: nivel2a;
      width: 200px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px;
      margin-left: 65%; }
    #grilla_organigrama div#nivel2b {
      grid-area: nivel2b;
      width: 200px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px; }
    #grilla_organigrama div#nivel3a {
      grid-area: nivel3a;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      margin-right: 100px;
      border-radius: 10px; }
    #grilla_organigrama div#nivel3b {
      grid-area: nivel3b;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px; }
    #grilla_organigrama div#nivel3c {
      grid-area: nivel3c;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px; }
    #grilla_organigrama div#nivel3d {
      grid-area: nivel3d;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px; }
    #grilla_organigrama div#nivel3e {
      grid-area: nivel3e;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #7a367a;
      border-radius: 10px; }
    #grilla_organigrama section#nivel4a1 {
      grid-area: nivel4a1;
      width: 130px;
      height: 90px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #b47fb4;
      border-radius: 10px;
      margin-right: 100px;
      padding-top: 15px; }
    #grilla_organigrama section#nivel4b1 {
      grid-area: nivel4b1;
      width: 160px;
      height: 140px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #b47fb4;
      border-radius: 10px;
      padding-top: 20px; }
    #grilla_organigrama section#nivel4c1 {
      grid-area: nivel4c1;
      width: 200px;
      height: 140px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #b47fb4;
      border-radius: 10px;
      padding-top: 20px; }
    #grilla_organigrama section#nivel4d1 {
      grid-area: nivel4d1;
      width: 220px;
      height: 170px;
      border: 1px solid yellow;
      text-align: center;
      background-color: #b47fb4;
      border-radius: 10px;
      margin-left: 270px;
      padding-top: 20px; }
    #grilla_organigrama .titulo_mapa {
      font-weight: bold;
      font-size: 1.5em;
      padding: 3px; }
    #grilla_organigrama .sub {
      font-style: italic !important;
      text-decoration: underline; }
    #grilla_organigrama label {
      color: #534f4f; }
    #grilla_organigrama p {
      padding: 5px;
      height: 40px; }
    #grilla_organigrama p:hover {
      background-color: #682c68;
      border-radius: 10px;
      color: #cab3b3; }
    #grilla_organigrama a {
      text-decoration: none;
      color: black; }
      #grilla_organigrama a :hover {
        font-style: italic; } }

@keyframes rotar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes rotar1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }

@keyframes animacion {
  from {
    border: 2px solid #8c00ff; }
  to {
    border: 2px solid white; }
  from {
    background-color: #5f4d4d; }
  to {
    background-color: #8c00ff; } }

@keyframes girar_titulo {
  0 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  100% {
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }

/******************* ENGRANAJES*******************/
div#engranaje_izquierda {
  background-color: #9ea79d;
  grid-area: engranaje_izquierda;
  text-align: center;
  font-size: 30px;
  padding-top: 30px; }

div#engranaje_centro {
  background-color: #9ea79d;
  grid-area: engranaje_centro;
  padding: 3%;
  text-align: center;
  font-size: 30px;
  padding-top: 30px; }

div#engranaje_derecho {
  background-color: #9ea79d;
  grid-area: engranaje_derecho;
  padding: 3%;
  text-align: center;
  font-size: 30px;
  padding-top: 30px; }

.engranaje2 {
  animation-name: rotar;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear; }

.engranaje3 {
  margin-left: -10px; }

.engranaje1 {
  animation-name: rotar1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-timing-function: linear; }

/************************************************/
.tarjeta:hover {
  animation: animacion 3s infinite; }

.menu:hover {
  margin-top: -10px;
  transition: margin-top 0.1s; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto", sans-serif; }

.division {
  box-shadow: 2px 2px grey;
  background-color: rgba(211, 211, 211, 0.7); }

.logo_ficha {
  margin: 0; }

.blackiconcolor {
  color: black; }

/*********************GRILLA MAPA DEL SITIO***************************/
/****************************************************************/
