/*************** CELULARES ************************/
@media (max-width: 950px) {
  /***************RESPONSIVE LOGIN****************/
  .encuadrar {
    width: 50% !important;
  }
  .img_logo {
    height: 200px;
    margin-bottom: 10px;
  }
  .img_login {
    width: 180px;
    height: 180px;
  }
  .sub_titulo {
    margin-top: 10px !important;
  }
  .enviar {
    width: 70% !important;
    margin: auto;
  }
  .restablecer {
    width: 70% !important;
    margin: auto;
  }
  #registrarse {
    width: 100%;
  }
  /***************************************************/
  .margen_fichas_celular {
    margin-bottom: 300px;
  }
  .margen_superior_celular {
    margin-top: 60px !important;
  }
  /*****************GRILLA MAPA DEL SITIO********************/
  #grilla_organigrama_celular {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30px 100px 100px 220px 20px;

    grid-template-areas:
      "nivel1_celular   nivel1_celular   nivel1_celular   nivel1_celular   nivel1_celular"
      "nivel2a_celular  nivel2a_celular  nivel2a_celular  nivel2a_celular  nivel2b_celular"
      "nivel3a_celular  nivel3b_celular  nivel3c_celular  nivel3d_celular  nivel3e_celular"
      "nivel4a_celular  nivel4b_celular  nivel4c_celular  nivel4d_celular  nivel4e_celular"
      "nivel5a_celular  nivel5b_celular  nivel5b_celular  nivel5b_celular  nivel5c_celular";
    font-weight: bold;
    width: 100vw;

    article.nivel1_celular {
      grid-area: nivel1_celular;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: rgba(63, 153, 238, 0.5);
      margin: 0;
      padding-top: 2px;
      font-size: 1em;
      border-bottom: 4px solid black;
    }
    div {
      height: 100%;
      text-align: center;
      margin: 0;
      border: 3px solid grey;
      background-color: rgba(145, 50, 39, 0.7);
      p {
        letter-spacing: 2px;
        padding-top: 20px;
      }
    }
    .nivel2a_celular {
      grid-area: nivel2a_celular;
      font-size: 2em;
    }
    .nivel2b_celular {
      grid-area: nivel2b_celular;
      font-size: 1em;
      p {
        padding-top: 35px;
      }
    }
    .nivel3a_celular {
      grid-area: nivel3a_celular;
      font-size: 0.8em;
      p {
        padding-top: 30px;
      }
    }
    .nivel3b_celular {
      grid-area: nivel3b_celular;
      font-size: 0.8em;
      p {
        padding-top: 30px;
      }
    }
    .nivel3c_celular {
      grid-area: nivel3c_celular;
      font-size: 0.8em;
      p {
        padding-top: 30px;
      }
    }
    .nivel3d_celular {
      grid-area: nivel3d_celular;
      font-size: 0.8em;
      p {
        padding-top: 30px;
      }
    }
    .nivel3e_celular {
      grid-area: nivel3e_celular;
      font-size: 0.8em;
      p {
        padding-top: 30px;
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
    div:hover {
      background-color: sienna;
      border: 3px solid black;
      color: black;
      font-style: italic;
    }
    section {
      height: 100%;
      background-color: rgba(63, 153, 238, 0.9);
      text-align: center;
      margin: 0px;
      padding-top: 30px;
      font-size: 0.8em;
      border-right: 1px solid yellow;
    }
    section.nivel4a_celular {
      grid-area: nivel4a_celular;
    }
    section.nivel4b_celular {
      grid-area: nivel4b_celular;
    }
    section.nivel4c_celular {
      grid-area: nivel4c_celular;
      height: 100%;
    }
    section.nivel4d_celular {
      grid-area: nivel4d_celular;
    }
    section.nivel4e_celular {
      grid-area: nivel4e_celular;
    }
    aside.nivel5a_celular {
      grid-area: nivel5a_celular;
      background-color: rgba(63, 153, 238, 0.9);
    }
    aside.nivel5b_celular {
      grid-area: nivel5b_celular;
      text-align: center;
      background-color: grey;
      border: 1px solid black;
    }
    aside.nivel5c_celular {
      grid-area: nivel5c_celular;
      background-color: rgba(63, 153, 238, 0.9);
    }
  }

  /**************************************************/
  .mostrar_mapa_desk {
    display: none;
  }
  .principal_celular {
    margin: auto;
  }
  .margen_izquierdo_celular {
    margin-left: 50px;
  }

  .grilla_engranaje_desk {
    display: none;
  }

  .grilla_engranaje_celular {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 450px;
    grid-template-rows: 100px;
    grid-template-areas: "engranaje_izquierda       engranaje_centro       engranaje_derecho";
    margin-bottom: 50px;
    justify-items: flex-end;
    margin: auto;
  }

  .separacion {
    margin-top: 20px;
  }

  .sub_titulo {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
  }

  .titulo {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
  }

  .ocultar_grilla {
    display: none;
  }

  .ocultar_estructura {
    display: none;
  }
  /***********ESTRUCTURA JERARQUICA  PARA CELULARES *************/
  .nivel1_estructura {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .nivel2_estructura {
    margin-bottom: 40px;
  }

  .card_celu {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .mostrar_estructura {
    a {
      text-decoration: none;
      color: grey;
    }
    a:hover {
      color: black;
    }
    h2 {
      font-size: 2em;
      text-align: center;
    }
  }

  .boton_subdireccion {
    background-color: rgb(153, 181, 233);
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
  }

  .boton_departamento {
    width: 200px;
    height: 70px;
    background-color: rgb(97, 195, 202);
    font-size: 1em;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 5px;
  }
  /*************************************************************/
  /*********************GENERAL********************************/
  .margen_superior_pie_mapa {
    margin-top: 100px !important;
  }
  .principal_desk {
    display: none;
  }
}
/*************************DESKTOP ************************/
/*********************************************************/
@media (min-width: 951px) {
  .mostrar_mapa_celular {
    display: none;
  }

  .margen_superior_pie_mapa {
    margin-top: 180px !important;
  }

  .grilla_engranaje_celular {
    display: none;
  }

  .cuerpo_principal_desk {
    margin-top: 400px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .grilla_engranaje_desk {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100px;
    grid-template-areas: "engranaje_izquierda       engranaje_centro       engranaje_derecho";
    margin-top: 450px;
    margin-bottom: 30px;
    margin-left: 50px;
    height: 100%;
    margin-left: 260px;
  }

  .card_desk {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  /***************GRILLA ESTRUCTURA************************/
  #grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 150px 100px 100px 80px;
    grid-template-areas:
      "titulo_grilla       titulo_grilla       titulo_grilla       titulo_grilla"
      "subdireccion        subdireccion        subdireccion        subdireccion"
      "depto_hard          depto_soft          depto_adm           sop_ext"
      "emp_hard            emp_soft            emp_adm             sop_ext"
      "pie_grilla          pie_grilla          pie_grilla          pie_grilla";
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
    border-radius: 3px;
    width: 900px;
    height: 100%;
    a {
      text-decoration: none;
      color: rgb(75, 72, 72);
    }
    a:hover {
      color: rgb(0, 0, 0);
    }
    font-style: italic;
    .tit_sop_ext {
      margin-top: 60px;
      text-align: center;
    }
    .fuentes_areas p {
      margin-left: 50px;
      margin-right: 50px;
      font-size: 20px;
    }
    .tit_subdireccion p {
      margin-left: 210px;
      margin-right: 210px;
    }
    section#titulo_grilla {
      background-color: #494c55;
      grid-area: titulo_grilla;
      text-align: center;
      padding: 15px;
      color: white;
      font-size: 50px;
      font-style: italic;
      border: 1px solid white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    section#subdireccion {
      background-color: #9ea79d;
      grid-area: subdireccion;
      padding: 3%;
      text-align: center;
      font-size: 30px;
      border: 1px solid white;
      padding-top: 30px;
    }
    section#subdireccion:hover {
      background-color: #778376;
    }
    section#sop_ext {
      background-color: #8da08b;
      grid-area: sop_ext;
      border: 1px solid white;
    }
    .departamento:hover {
      background-color: #778376;
    }
    section#hard {
      grid-area: depto_soft;
    }
    section#depto_soft {
      grid-area: depto_soft;
    }
    section#depto_adm {
      grid-area: depto_adm;
    }
    article#emp_hard {
      background-color: #a8b3a7;
      grid-area: emp_hard;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white;
    }
    article#emp_soft {
      background-color: #a8b3a7;
      grid-area: emp_soft;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white;
    }
    article#emp_adm {
      background-color: #a8b3a7;
      grid-area: emp_adm;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white;
    }
    section#pie_grilla {
      padding-top: 20px;
      background-color: grey;
      grid-area: pie_grilla;
      border: 1px solid white;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .departamento {
      background-color: #a8b3a7;
      text-align: center;
      padding-top: 20px;
      border: 1px solid white;
    }
    .logo_derecha {
      margin-left: 700px;
    }
    .logo_izquierda {
      margin-left: 30px;
    }
  }

  .mostrar_estructura {
    display: none;
  }

  .principal_celular {
    display: none;
  }
  /*******************GRILLA MAPA DEL SITIO************************/
  #grilla_organigrama {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
      "nivel1   nivel1   nivel1   nivel1   nivel1"
      "nivel2a  nivel2a  nivel2a  nivel2b  nivel2b"
      "nivel3a  nivel3b  nivel3c  nivel3d  nivel3e"
      "nivel4a1 nivel4b1 nivel4c1 nivel4d1 nivel4d1";
    justify-items: center;
    font-weight: bold;
    article#nivel1 {
      grid-area: nivel1;
      width: 400px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa;
      border-radius: 10px;
      margin-top: 10px;
    }
    #nivel2a {
      grid-area: nivel2a;
      width: 200px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
      margin-left: 65%;
    }

    div#nivel2b {
      grid-area: nivel2b;
      width: 200px;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
    }
    div#nivel3a {
      grid-area: nivel3a;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      margin-right: 100px;
      border-radius: 10px;
    }
    div#nivel3b {
      grid-area: nivel3b;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
    }
    div#nivel3c {
      grid-area: nivel3c;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
    }
    div#nivel3d {
      grid-area: nivel3d;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
    }
    div#nivel3e {
      grid-area: nivel3e;
      width: 50%;
      height: 40px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa_enlace;
      border-radius: 10px;
    }
    section#nivel4a1 {
      grid-area: nivel4a1;
      width: 130px;
      height: 90px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa;
      border-radius: 10px;
      margin-right: 100px;
      padding-top: 15px;
    }
    section#nivel4b1 {
      grid-area: nivel4b1;
      width: 160px;
      height: 140px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa;
      border-radius: 10px;
      padding-top: 20px;
    }
    section#nivel4c1 {
      grid-area: nivel4c1;
      width: 200px;
      height: 140px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa;
      border-radius: 10px;
      padding-top: 20px;
    }
    section#nivel4d1 {
      grid-area: nivel4d1;
      width: 220px;
      height: 170px;
      border: 1px solid yellow;
      text-align: center;
      background-color: $mapa;
      border-radius: 10px;
      margin-left: 270px;
      padding-top: 20px;
    }
    .titulo_mapa {
      font-weight: bold;
      font-size: 1.5em;
      padding: 3px;
    }
    .sub {
      font-style: italic !important;
      text-decoration: underline;
    }
    label {
      color: rgb(83, 79, 79);
    }
    p {
      padding: 5px;
      height: 40px;
    }
    p:hover {
      background-color: $mapa_enlace_foco;
      border-radius: 10px;
      color: rgb(202, 179, 179);
    }
    a {
      text-decoration: none;
      color: black;
      :hover {
        font-style: italic;
      }
    }
  }
}
