* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.division {
  box-shadow: 2px 2px grey;
  background-color: rgba(211, 211, 211, 0.7);
}

.logo_ficha {
  margin: 0;
}

.blackiconcolor {
  color: black;
}
