.margen_superior {
  margin-top: 160px;
}

.margen_superior_ayuda {
  margin-top: 90px;
}

.margen_superior_construccion {
  margin-top: 60px;
}

.twiter {
  background-color: $twitter;
}

.facebook {
  background-color: $face;
}

.in {
  background-color: $in;
}

.mail {
  background-color: $mail;
}

.whatsapp {
  background-color: $what;
}

.logo_pie {
  display: inline-block;
}
