.margen_superior{
    margin-top:140px;
}

.twiter{
    background-color: $twitter;
}

.facebook{
    background-color: $face;
}

.in{
    background-color: $in;
}

.mail{
    background-color: $mail;
}

.whatsapp{
    background-color: $what;
}
