
$arena:rgb(130, 144, 226);
$twitter:rgb(20, 228, 255);
$face:rgb(53, 60, 184);
$in:rgb(94, 117, 248);
$what:rgb(33, 245, 121);
$mail:rgb(186, 192, 207);
$blanco:white;
$mapa_enlace:rgb(160, 79, 160);
$mapa:rgb(180, 127, 180)